@model IEnumerable<MuscleFellow.Models.ShipAddress>

@{
    ViewData["Title"] = "地址列表";
}
<div class="container">
    <h2>收货地址</h2>

    <p>
        <a asp-action="Create">新建地址</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Receiver)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AddressID">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.AddressID">详细信息</a> |
                        <a asp-action="Delete" asp-route-id="@item.AddressID">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>